.place__title {
  grid-row: 1;
  grid-column: 1;

  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  margin: 0;
}


@media screen and (max-width: 768px) {
  .place__title {
    font-size: 5.5vw;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    font-size: 10vw;
    margin: 0 16px 32px;
  }
}

