.trains {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  position: relative;
  max-width: 1184px;
  height: 740px;
  margin: 0 auto 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
