.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  color: #FFFFFF;
  margin: 0;
  text-align: right;
}


@media screen and (max-width: 500px) {
  .footer__copyright {
    font-size: 14px;
    text-align: left;
  }
}
