.intro {
  margin: 0 442px 92px 148px;
  max-width: 690px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 286px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 24px*2);
    margin: 0 24px 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: calc(100% - 16px*2);
    margin: 0 16px 64px 16px;
  }
}
