@font-face {
  src: url('../../fonts/Inter-Regular.woff') format('woff'),
       url('../../fonts/Inter-Regular.woff2') format('woff2');
  font-family: 'Inter';
}

@font-face {
  src: url('../../fonts/Inter-Bold.woff') format('woff'),
       url('../../fonts/Inter-Bold.woff2') format('woff2');
  font-family: 'Inter';
  font-weight: bold;
}

.root {
  display: block;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  background-color: #2A2C2F;
}

