@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

@import url(../blocks/content/content.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);


@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__website/place__website.css);

@import url(../blocks/trains/trains.css);
@import url(../blocks/trains/__image/trains__image.css);
@import url(../blocks/trains/__link/trains__link.css);
@import url(../blocks/trains/__background-overlay/trains__background-overlay.css);
@import url(../blocks/trains/__title/trains__title.css);
@import url(../blocks/trains/__subtitle/trains__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px auto 64px;
    max-width: 928px;
  }

  .intro {
    margin: 92px 286px 92px 48px;
  }

  .lead__subtitle {
    margin: 32px auto 56px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
  }

}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin-bottom: 88px;
  }

  .lead__title {
    font-size: 12.5vw;
  }

  .lead__subtitle {
    font-size: 5vw;
    line-height: 125%;
    margin: 16px auto 40px;
    min-width: 288px;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .intro {
    width: 90%;
    margin: 88px auto;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
  }

  .places {
    margin: 88px auto;
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-gap: 72px;
  }

  .place {
    width: 94%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 47% calc(100% - 47% - 28px);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-gap: 48px 28px;
  }

  .place__image {
    width: 100%;
  }

  .place__title {
    font-size: 5.5vw;
    width: 90%;
  }

  .place__text {
    font-size: 16px;
    line-height: 162%;
    margin: 0;
    width: 100%;
  }

  .trains {
    max-height: 480px;
  }

  .footer {
    width: 93.5%;
    margin: 0 auto 24px;
  }

  .footer__link {
    font-size: 14px;
  }

}

@media screen and (max-width: 425px) {
  .header {
    -top: 16px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
  }

  .lead__title {
    font-size: 12.5vw;
    line-height: 110%;
    min-width: 288px;
  }

  .lead__subtitle {
    font-size: 5vw;
    line-height: 125%;
    margin: 16px auto 40px;
    max-width: 288px;
  }

  .lead__caption {
    margin-left: 16px;
  }

  .into {
    width: 100%;
    margin: 64px auto;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 12px;
  }

  .places {
    margin: 64px auto;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-gap: 24px;
  }

  .place {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .place__image {
    width: 100%;
    margin: 0 0 32px;
  }

  .place__website {
    display: none;
  }

  .place__title {
    font-size: 10vw;
    width: 90%;
    margin: 0 auto 32px;
  }

  .place__text {
    font-size: 16px;
    line-height: 162%;
    margin: 0 auto;
    width: 90%;
  }

  .trains {
    width: 100%;
    height: 62.5vw;
    margin-bottom: 20vw;
  }

  .trains__background-overlay {
    width: 100%;
    height: 62.5vw;
  }

  .trains__title {
    font-size: 10vw;
    margin-bottom: 16px;
    line-height: 109%;
  }

  .trains__subtitle {
    font-size: 5vw;
    line-height: 114%;
  }

  .footer {
    flex-direction: column;
    min-width: 310px;
    margin: 0 auto 24px 5%;
  }

  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 10vw;
  }

  .footer__link:last-of-type {
    margin: 0;
  }

  .footer__copyright {
    font-size: 14px;
    text-align: left;
  }

}

