.place {
max-width: 984px;
display: grid;
grid-template-columns: 460px 484px;
grid-template-rows: minmax(min-content, max-content) 460px;
grid-gap: 48px 40px;
margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}
