.trains__title {
position: relative;
max-width: 560px;
margin: 0 auto 32px;
text-align: center;
z-index: 2;

font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 106%;


color: #FFFFFF;
}


@media screen and (max-width: 425px) {

  .trains__title {
    font-size: 10vw;
    margin-bottom: 16px;
    line-height: 109%;
  }
}

